@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: #c5c5c5;
  --color-light-grey: #8491a0;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
